[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "vim/dein.vim"]
	path = vim/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "background"]
	path = background
	url = https://github.com/onokatio/background
[submodule "zsh/zprofile.d/hooks/zplug"]
	path = zsh/zprofile.d/hooks/zplug
	url = https://github.com/zplug/zplug
[submodule "zsh/zshrc.d/hooks/zplug"]
	path = zsh/zshrc.d/hooks/zplug
	url = https://github.com/zplug/zplug
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/nvm"]
	path = modules/nvm
	url = https://github.com/creationix/nvm
[submodule "modules/zplugin"]
	path = modules/zplugin
	url = https://github.com/zdharma/zplugin
