[user]
	email = onokatio@gmail.com
	name = onokatio
	useConfigOnly = true
[merge]
	conflictstyle = diff3
[diff]
	#compactionHeuristic = true
[core]
	#pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
[credential]
	helper = cache --timeout=3600
[init]
	templatedir = ~/.git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
	root = /home/katio/script
[alias]
	log2 = log --oneline --graph --all --remotes
[filesystem "Oracle Corporation|1.8.0_231|/dev/mapper/kirino-root"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|1.8.0_231|/home/katio/.Private"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|1.8.0_231|tmpfs"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|11.0.5|/dev/mapper/kirino-root"]
	timestampResolution = 8000 nanoseconds
	minRacyThreshold = 5532 microseconds
[filesystem "Oracle Corporation|11.0.5|/home/katio/.Private"]
	timestampResolution = 2000 nanoseconds
	minRacyThreshold = 5526 microseconds
[filesystem "Oracle Corporation|11.0.5|tmpfs"]
	timestampResolution = 22000 nanoseconds
	minRacyThreshold = 5581 microseconds
[remote "origin"]
	proxy = socks5h://127.0.0.1:9050
[http]
	proxy = socks5h://127.0.0.1:9050
[remote "orionwl"]
	proxy = socks5h://127.0.0.1:9050
