[user]
	email = onokatio@gmail.com
	name = onokatio
	useConfigOnly = true
[merge]
	conflictstyle = diff3
[diff]
	#compactionHeuristic = true
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	pager = true
	grep = true
	decorate = true
	showbranch = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
#[credential]
#	helper = /usr/lib/git-core/git-credential-gnome-keyring
#[init]
#	templatedir = ~/.git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
	#root = /home/katio/script
	root = ~/script
	user = onokatio
[alias]
	log2 = log --oneline --graph --all --remotes
#[remote "origin"]
#	proxy = socks5h://127.0.0.1:9050
#[http]
#	proxy = socks5h://127.0.0.1:9050
#[remote "orionwl"]
#	proxy = socks5h://127.0.0.1:9050
[commit]
	template = ~/.gitmessage
	verbose = true
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
#[help]
	#autocorrect = 20
#[init]
#	templateDir = /home/katio/.git_template/
[pull]
	rebase = false
[blame]
	#ignoreRevsFile = .git-blame-ignore-revs
[rerere]
	enabled = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
